.container {
  max-width: 65vw;
  margin: 0 auto;
}

h1 {
  text-align: center;
  color: #d4af37;
  font-size: 4vmin;
  margin-bottom: 3vh;
}

.inputs {
  display: flex;
  flex-wrap: wrap;
  gap: 3vmin;
  justify-content: center;
  margin-bottom: 4vh;
}

.inputs label {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: 2.5vh;
  color: #d4af37;
  min-width: 20vw;
}

.inputs input {
  margin-top: 1vh;
  padding: 1.5vh 2vw;
  border: none;
  border-radius: 1vh;
  font-size: 2.5vh;
  font-weight: 500;
  outline: none;
  background-color: #222;
  color: #fff;
  transition: background-color 0.3s ease;
}

.inputs input:focus {
  background-color: #333;
}

button#btnCalcular {
  display: block;
  margin: 0 auto 4vh auto;
  background: linear-gradient(90deg, #d4af37, #f9d976);
  border: none;
  color: #000;
  font-weight: 700;
  font-size: 2.5vmin;
  padding: 2vh 5vw;
  border-radius: 10vh;
  cursor: pointer;
  transition: background 0.3s ease;
}

button#btnCalcular:hover {
  background: linear-gradient(90deg, #f9d976, #d4af37);
}

.calculadora {
  background-color: #111;
  border-radius: 2vh;
  padding: 3vh 3vw;
  box-shadow: 0 0 1.5vh #d4af37;
  text-align: center;
  margin-bottom: 5vh;
}

.calc-title {
    font-weight: 700;
    font-size: 3vh;
    margin-bottom: 2vh;
    color: #d4af37;
}

.resultado {
  font-family: 'Courier New', Courier, monospace;
  background-color: #222;
  border-radius: 2vh;
  padding: 2vh 3vw;
  color: #34d399;
  white-space: pre-line;
  font-weight: 600;
  font-size: 2.5vh;
  min-height: 10vh;
  user-select: text;
  text-align: center;
}

@media (max-width: 768px) {

  .container {
    max-width: 90vw;
    margin: 0 auto;
    margin-bottom: 3vh;
}
h1 {
    text-align: center;
    margin-bottom: 4vh;
    color: #d4af37;
    font-size: 2.5vh;
}
  .calc-title {
    font-weight: 700;
    font-size: 2vh;
    margin-bottom: 2vh;
    color: #d4af37;
}
  
.inputs label {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: 2vh;
  color: #d4af37;
  min-width: 15vh;
}
  button#btnCalcular {
  display: block;
  margin: 0 auto 4vh auto;
  background: linear-gradient(90deg, #d4af37, #f9d976);
  border: none;
  color: #000;
  font-weight: 700;
  font-size: 2.5vh;
  padding: 2vh 10vh;
  border-radius: 5vh;
  cursor: pointer;
  transition: background 0.3s ease;
}
}
